<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PegasusMusic.My.MySettings.triplice_PegasusMusicConnectionString"
            connectionString="server=31.170.162.19;user id=triplice;password=Rol0510910!;persistsecurityinfo=True;database=triplice_PegasusMusic"
            providerName="MySql.Data.MySqlClient" />
        <add name="PegasusMusic.My.MySettings.triplice_PegasusMusicConnectionString1"
            connectionString="password=Rol0510910!;user id=triplice;server=31.170.162.19;persistsecurityinfo=True;database=triplice_PegasusMusic"
            providerName="MySql.Data.MySqlClient" />
        <add name="PegasusMusic.My.MySettings.triplice_PegasusMusicConnectionString2"
            connectionString="server=31.170.162.19;password=Rol0510910!;user id=triplice;database=triplice_PegasusMusic;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort"/>
        </client>
    </system.serviceModel>
</configuration>
